html, body {
  height: 100%;
  width: 100%;
}

.button{
  font-size: 1rem;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor:pointer;
  width: 66px;
}
.button:hover{
  background-color: orange;
}
.clr{
  background-color: green;
  color: white;
}
.row{
  margin: 8px 0;;
}
.row input{
  margin: 0;
  padding:6px 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
}